<html>



<script>
    // Mobile여부를 구분하기 위함
    var uAgent = navigator.userAgent.toLowerCase();
    var os = "";

    // 아래는 모바일 장치들의 모바일 페이지 접속을위한 스크립트
    var mobilePhones = new Array('iphone', 'ipod', 'ipad', 'android', 'blackberry', 'windows ce','nokia', 'webos', 'opera mini', 'sonyericsson', 'opera mobi', 'iemobile');
    for (var i = 0; i < mobilePhones.length; i++) {
        if (uAgent.indexOf(mobilePhones[i]) != -1){


           os = "mobile"

         }
    };
    if ( os == "mobile" ) {   document.location = "{{ url_for('_mobile') }}";  }else{

    window.open("{{ url_for('_dashboard') }}","show","width=1024,height=768,toolbar=no,menubar=no,resizable");
     setTimeout(function(){
            top.window.opener = top;
            top.window.open('about:blank','_parent','');
            top.window.close();
            },5000);
            }
</script>
</html>